html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* Typography */
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/* Elements */

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/* Links
--------------------------------------------- */
/* a {
    color: #4169e1;
} */

/* a:visited {
    color: #800080;
} */

/* a:hover,
a:focus,
a:active {
    color: #191970;
} */

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    /* padding: 0.6em 1em 0.4em; */
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    /* padding: 3px; */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}



.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


.widget {
    margin: 0 0 1.5em;
}

.widget select {
    max-width: 100%;
}


.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


.custom-logo-link {
    display: inline-block;
}


.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    color: var(--font-color);
}

.wp-caption-text {
    text-align: center;
}


.gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 0.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
    display: block;
}


.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}


.infinity-end.neverending .site-footer {
    display: block;
}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
    outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

    /*rtl:ignore*/
    float: left;

    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {

    /*rtl:ignore*/
    float: right;

    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body button,
.btn,
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn:hover,
body button:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

p.about {
    letter-spacing: 1px;
    line-height: 1.9;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* //Reset Code */








@media (max-width: 991px) {

    .navbar-expand-lg .navbar-nav .nav-item.dropdown {
        padding-right: 15px;
    }

    .menu-item-has-children::after {
        top: 14px;
    }
}



@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }
}









@media (max-width: 1080px) {
    ul.course-details {
        padding: 25px;
    }

    ul.course-details li p {
        font-size: 14px;
    }

    ul.course-details li h4 {
        font-size: 16px;
    }

    ul.course-details li {
        grid-gap: 10px;
    }
}

@media (max-width: 667px) {
    .course-video iframe {
        height: 320px;
    }
}

@media (max-width: 568px) {
    .course-video iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .course-video iframe {
        height: 250px;
    }
}

@media (max-width: 415px) {
    .course-video iframe {
        height: 210px;
    }
}

@media (max-width: 375px) {
    .course-video iframe {
        height: 180px;
    }
}










@media all and (max-width: 992px) {
    .w3l-error-grid h1 {
        font-size: 70px;
    }
}

@media all and (max-width: 568px) {
    .w3l-error-grid h1 {
        font-size: 50px;
    }
}

@media all and (max-width: 415px) {
    .w3l-error-grid h2 {
        font-size: 34px;
        font-weight: 700;
    }
}

@media all and (max-width: 384px) {
    .w3l-error-grid .form-control {
        padding: 16px 20px 12px 20px;
    }

    .w3l-error-grid button.btn.search {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
}


figure.gallery-item {
    margin: 0;
}

.gallery-icon.landscape img {
    width: 100%;
    border-radius: 8px;
}

.gallery-caption {
    margin: 10px 0 20px;
    font-weight: 500;
    text-align: left;
}


.author_page_author_card,
.author-card {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-border);
    padding: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
}


a.post-thumbnail {
    width: 100%;
    /* height: 250px; */
    display: block;
    overflow: hidden;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.post-thumbnail img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
}

.entry-meta a {
    color: #999;
}

.entry-meta a:hover {
    color: var(--primary-color);
}


.single-post-content blockquote {
    padding: 20px 30px;
    margin: 40px 0;

    max-width: 900px;
    margin: 0 auto;
    padding-left: 45px;
    background: var(--light-bg-color);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.single-post-content blockquote p {
    color: var(--heading-color);
    font-size: 28px;
    line-height: 40px;
}

.single-post-content blockquote p:before {
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    color: var(--secondary-color);
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.single-post-content blockquote p a {
    margin-top: 1rem;
    display: block;
    font-size: 80%;
    color: #6c757d;
}


.page-links a {
    display: inline-block;
    padding: 0;
    color: #fff;
    margin: 0 5px;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: var(--bg-light);
}

span.post-page-numbers.current {
    display: inline-block;
    padding: 0;
    color: #fff;
    margin: 0 5px;
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background: var(--primary-color);
    color: #fff;
}

.page-links a:hover {
    background-color: transparent;
    color: var(--primary-color);
}

/* wordpress widget theme styling */

#wpadminbar #site-header {
    top: 32px;
}

.admin-bar #site-header,
.admin-bar .site-header.float-header {
    top: 32px;
}


ul.breadcrumbs-custom-path {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

ul.breadcrumbs-custom-path a {
    color: var(--primary-color);
}

ul.breadcrumbs-custom-path a:hover {
    color: var(--primary-color);
}


.title-small a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}


.header-fixed-space-height {
    margin-top: 90px;
}

@media only screen and (max-width: 992px) {
    .header-fixed-space-height {
        margin-top: 80px;
    }
}